<html>
<head>
<title>A fridge magnet experiment</title>
<!--
 Fridge - A fridge magnet experiment using nodejs & nowjs.
 Copyright(c) 2010 Marc Dassonneville <marc.dassonneville@gmail.com>
 MIT Licensed
-->
<style type="text/css">
	body { background-color:#333333; font-weight:bold; font-size:45;}
	div { cursor:pointer; 
		/* text non selectable */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/nowjs/now.js"></script>
<script type="text/javascript">

var delay = 50; // ms between refresh.

/*
 * Nowjs magic
 */
$(document).ready(function () {
	// magnet we can move.
	var pageX, pageY, magnet, offset
		, lastMove = null, acquiredMagnetId = null;
	
	// Update All Magnets.
	now.updateMagnets = function (magnets) {
		$("body").empty();
		$.each(magnets, function (i, magnet) {
			$('<div>'+magnet.d+'</div>')
				.attr('id', magnet.i)
				.attr('unselectable', 'on')
				.css('position', 'absolute')
				.css('color', 'rgb('+magnet.c[0]+', '+magnet.c[1]+', '+magnet.c[2]+')')
				.css('-moz-transform', 'rotate('+magnet.a+'deg)')
				.css('-webkit-transform', 'rotate('+magnet.a+'deg)')
				.css('top', magnet.t)
				.css('left', magnet.l)
				.appendTo($("body"));
		});
		// bind first mousedown
		$("div").mousedown(function (ev) {
			magnet = $(ev.target);
			offset = magnet.offset();
			pageX = ev.pageX;
			pageY = ev.pageY;
			now.acquireMagnet(magnet.attr("id"));
		});
		$(document).mousemove(function (ev) {
			ev.stopPropagation();
			//
			if (acquiredMagnetId == null)
				return;
			// refreshing the browser every events.
			var top = offset.top + Math.round(ev.pageY-pageY);
			var left = offset.left + Math.round(ev.pageX-pageX);
			magnet.offset({'top' : top, 'left' : left});
			// but updating server information only each 50ms
			var currentDate = new Date();
			if (!lastMove || currentDate.getTime() > lastMove + delay) {
				lastMove = currentDate.getTime();
				now.moveMagnet(acquiredMagnetId, top, left);
			}
		});
		$(document).mouseup(function (ev) {
			ev.stopPropagation();
			//
			acquiredMagnetId = null;
		});
	};
	// Update One Magnet
	now.updateMagnet = function (magnetId, top, left) {
		$("#"+magnetId).offset({ 'top' : top, 'left' : left});
	};
	// One Magnet has been acquired
	now.magnetAcquired = function (id) {
		acquiredMagnetId = id;
	};
	// One Magnet has been lost
	now.magnetLost = function (id) {
		acquiredMagnetId = null;
	};
	now.ready(function () { now.requestMagnets(); });
});
</script>
</head>
<body>
</body>
</html>